$primary-color:hsl(204, 100%, 50%);
$danger-color:hsl(348, 100%, 61%);
$color-text:#606266;
$color-border:#dcdfe6;

$base-padding: 20px;
$top-header-height:60px;

$font-size-base:16px;
$font-size-small:14px;
$font-size-large:18px;
$font-weight-normal:400;
// $font-weight-bold:500;
// $font-weight-bolder:700;

$base-border-radius:4px;
$base-box-shadow:0 2px 12px 0 rgba(0,0,0,0.1);
