:root{
    --primary-color: #{$primary-color};
    --danger-color: #{$danger-color};
}
* ,*::after,*::before{
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
//   font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  background-color: #f4f7f6;
}